objstorage:
  cls: remote
  url: http://storage0.euwest.azure.internal.softwareheritage.org:5003
  max_retries: 5
  pool_connections: 100
  pool_maxsize: 200

objstorage_dst:
  cls: remote
  url: http://objstorage:5003

journal_client:
  cls: kafka
  brokers:
    - kafka1
    - kafka2
    - kafka3
  group_id: test-user-content-replayer-x-change-me
  sasl.username: test-user
  sasl.password: change-me
  security.protocol: sasl_ssl
  sasl.mechanism: SCRAM-SHA-512
  session.timeout.ms: 600000
  max.poll.interval.ms: 3600000
  message.max.bytes: 1000000000
  privileged: true
  batch_size: 2000

replayer:
  error_reporter:
    # used to track objects that the replayer really failed at replication from
    # the source objstorage to the destination one
    host: redis
    port: 6379
    db: 0
