search:
  cls: remote
  url: http://search:5010/

storage:
  cls: remote
  url: http://storage:5002/

journal:
  brokers:
    - kafka1
    - kafka2
    - kafka3
  group_id: test-user-search-indexer-x-change-me
  sasl.username: test-user
  sasl.password: change-me
  security.protocol: sasl_ssl
  sasl.mechanism: SCRAM-SHA-512
  session.timeout.ms: 600000
  max.poll.interval.ms: 3600000
  message.max.bytes: 10485760
  fetch.max.bytes: 10485760
  object_types:
    - origin
    - origin_visit_status
