SWH_IMAGE_TAG=20220921-113342
SWH_MIRROR_TEST_KAFKA_USERNAME=mirror-test-ro
SWH_MIRROR_TEST_KAFKA_PASSWORD=SOME_INTERESTING_SECRET
SWH_MIRROR_TEST_KAFKA_BROKER=broker1.journal.staging.swh.network:9093
SWH_MIRROR_TEST_OBJSTORAGE_URL=https://swh-prod:SOME_INTERESTING_SECRET@objstorage.softwareheritage.org/
SWH_MIRROR_TEST_API_URL=http://127.0.0.1:5081/api/1